/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(0, 56%, 72%);
  --first-color-alt: hsl(0, 56%, 62%);
  --first-color-light: hsl(0, 56%, 80%);
  --first-color-lighten: hsl(0, 0%, 91%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 0%);
  --text-color-gray: hsl(0, 0%, 47%);
  --text-color-dark-gray: hsl(0, 0%, 26%);
  --text-color-light: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--text-color-dark-gray);
  font-weight: var(--font-semi-bold);
  /* font-family: var(title font); */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size)
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/*========== Button Dark/Light ==========*/

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  font-weight: var(--font-semi-bold);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
  color: #FFF
}

.nav__logo-icon {
  color: var(--first-color);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
  color: #FFF
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    z-index: var(--z-fixed);
    transition: .3s;
  }
}

.nav__close {
  font-size: 1.4rem;
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  cursor: pointer;
}

.nav__close:hover {
  color: var(--first-color);
  transition: 1s;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  left: 0;
}


/* Change background header */

/* Active link */

/*=============== HOME ===============*/
.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 73%;
}

.home__container {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: calc(100vh - var(--header-height));
  row-gap: 3rem;
  align-items: end;
  padding-bottom: 5rem;
}

.home__title,
.home_data-subtitle,
.home__description,
.home__social-link {
  color: var(--text-color-light);
}

.home__title {
  font-size: var(--big-font-size);
  display: block;
}

.home__description {
  font-family: Whisper;
  font-size: 1.5rem;
}

.home__social {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.home__social-link {
  font-size: 1.2rem;
  width: max-content;
}

/*=============== BUTTONS ===============*/

/*=============== ABOUT ===============*/

/*=============== STEPS ===============*/

/*=============== PRODUCTS ===============*/

/*=============== QUESTIONS ===============*/

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/*=============== BREAKPOINTS ===============*/

/* For small devices */


/* For medium devices */


/* For large devices */